{% extends "base.html" %}

{% block main %}
<div class="form-container">
    <h2>Contact Form</h2>
    <hr>
    <p>Fill in this form to contact the site owners.</p>
    <form class="mb-5 data" method="POST" id="contactForm" name="contactForm" action="/contact">
        {{ form.csrf_token}}
        <div class="row">
            <div class="col-md-4 form-group">
                <h6>{{ form.name.label}} <span class="red-word">(Required)</span></h6>
                <p>Please enter your full name.</p>
                {{ form.name (class="form-control", placeholder=form.name.label.text)}}
            </div>
         </div>
         <div class="row">
            <div class="col-md-4 form-group">
                <h6>{{ form.email.label}} <span class="red-word">(Required)</span></h6>
                <p>Please enter your e-mail address.</p>
               
                {{ form.email (class="form-control", placeholder=form.email.label.text) }}

            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <h6>{{ form.subject.label}} <span class="red-word">(Required)</span></h6>
                <p>Please enter the subject of the message.</p>
                {{ form.subject (class="form-control", placeholder=form.name.label.text)}}
            </div>
        </div> 
        <div class="row">
            <div class="col-md-4 form-group">   
                <h6>{{ form.message.label }} <span class="red-word">(Required)</span></h6>
                <p>Please enter the message you would like to send.</p>
                {{ form.message (class="form-control", cols="30", rows="7", placeholder="Write your message") }}

            </div>
        </div>      
        <br>
        {{ form.submit (class="btn btn-primary rounded-0 py-2 px-4" ) }}

</div>
{% endblock %}
