{% extends "base.html" %}

{% block main %}
    <h2>Contact Form</h2>
    <hr>
    <p>Fill in this form to contact the site owners.</p>
    
    <form action="/process" method="post">
        <div>
            <label for="name">Name <span style="color:red;">(Required)</span></label>
            <p>Please enter your full name.</p>
            <input type="text" id="name" name="full_name" />
        </div>
        <div>
            <label for="mail">E-mail <span style="color:red;">(Required)</span></label>
            <p>Please enter your e-mail address.</p>
            <input type="email" id="mail" name="email" />
        </div>
        <div>
            <label for="subj">Subject <span style="color:red;">(Required)</span></label>
            <p>Please enter the subject for your message.</p>
            <input type="text" id="subj" name="subject"/>
        </div>
        <div>
            <label for="msg">Message <span style="color:red;">(Required)</span></label>
            <p>Please enter the message you would like to send.</p>
            <textarea id="msg" name="message"></textarea>
        </div>
            <button type="submit">Send</button>
       </form>
{% endblock %}
